.jumbotron {
  padding-top: 6rem;
  background-color: #b7bdf8;
}

#projects {
  background-color: #b7bdf8;
}
.card-img-top {
  transition: transform 0.3s;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.nav-link {
  transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
  color: #ffcc00;
  transform: scale(1.1);
}
