.section {
  margin: 0;
  padding: 0;
}

.svg {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #b7bdf8;
  margin-bottom: 0;
}

#about {
  margin-top: 0;
}

#projects {
  background-color: #b7bdf8;
  margin-top: 0;
}

#contact {
  margin-top: 0;
}
